*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: #fffdfa;
    font-family: 'Inter', sans-serif;
}

h1{
    font-weight: 800;
    font-size: 3rem;
    padding-right: 20px;
}

h2{
    padding: 5px 0 3px 0;
    font-weight: bold;
    font-size: 2rem;
    color:#e9ab53;
}
p{
    font-size: 16px;
    line-height: 1.5;
}
a{
    color: #00001a;
    text-decoration: none;
}

/* -------------------Navbar ------------------*/
.navbar{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px
}
.nav-menu-mobile{
    display: none;
}
.nav-logo >img{
    width: 4rem;
}
.nav-link{
    transition: 0.3s ease;
}
.nav-link:hover{
    color:#f15e50;
}
.hamburger{
    display: none;
    cursor:pointer;
}

/* -------------------Heading-------------------*/

.main-article{
    padding: 3rem 6rem; 
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:30px;
}
.front-image img{
    width: 100%;
}
.heading{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 3% 0;
}
.read-more-btn{
    margin-top: 10%;
    background-color: #f15e50;
    color:#fffdfa;
    letter-spacing: 0.3em;
    padding: 4% 15%;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
}
.read-more-btn:hover{
    background-color: #00001a;
}

/* --------------Section News ---------------*/
.news{
    display: flex;
    flex-direction: column;
    background-color: #00001a;
    color: #fffdfa;
    padding: 3px 20px;
    line-height: 1.5;
}

.new-article{
    padding: 25px 0;
    margin-bottom: 10px;
    border-bottom:1px solid #c5c6ce;
}
.last-article{
    border: none;
    padding-bottom: 10;
}
.new-article h3{
    padding-bottom: 10px;
}
.new-article h3:hover{
    color:#e9ab53;
}
.new-article p{
    padding-bottom: 8px;
    color: #c5c6ce;
}

/*-------------- Section Cards --------------*/
.cards{
 
    display: flex;
    justify-content: space-between;
    padding: 5rem 6rem; 
}
.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 5px;
    gap: 25px;
}
.card >img {
    max-width: 100%;
}
.content-card{
    display: flex;
    flex-direction: column;
}
.content-card p{
     line-height: 1.5;
     color: #5d5f79;
}
.content-card h2{
    color:#c5c6ce
}
.content-card h3{
    font-size: 16px;
    color: #00001a;
    padding-bottom: 8px;
}
.content-card h3:hover{
    color: #f15e50;
}
/*-------------- Section Footer --------------*/
footer{
    margin-top: 50px;
    display: block;
    text-align: center;
}
.attribution {
    padding: 20px 0 30px 0;
    line-height: 1.5;
}
.footer-link:hover{
    color:#f15e50;
}

/*--------------------- Media ---------------- */
@media screen and (max-width:1130px){
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    .content-card h3{
        font-size: 20px;
    }
    p{
       line-height: 2;
    }
    .navbar{
    padding: 32px;
    }
    .nav-menu{
        display: none;
    }
    .mobile-image{
        content: url('assets/images/image-web-3-mobile.jpg');
    }
   .hamburger{
    display: block;
    width: 35px;
    cursor:pointer;
    background-color: #fffdfa;
    outline:none;
    border:none;
    appearance:none;
    }  
    /*------------------Hamburger Menu--------------------*/
    .hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #00001a;
    margin: 6px 0px;
    transition:0.4s;
   }
   .hamburger.is-active:before{
    transform:rotate(-45deg)  translate(-8px, 6px) ;
   }
   .hamburger.is-active:after{
    transform:rotate(45deg) translate(-9px, -8px) ;
   }
   .hamburger.is-active .bar{
    opacity: 0;
   }
   /*------------------Navbar Menu--------------------*/
   .nav-menu-mobile.is-active{
    display: block;
    position: fixed;
    right: 0;
    width:20rem;
    top: 0;    
    min-height: 100vh;
    background-color:#fffdfa;
    display: block;
    padding-top: 120px;
    padding-left: 20px;
   }
   .nav-link-mob:hover{
    color:#f15e50;
   }
   .nav-item-mob{
    padding: 15px;
   }
   body.is-active{
    background-color:#c5c6ce ;
   } 
   .main-article, .heading {
    grid-template-columns: 1fr;
    padding: 2rem;
   }
   .heading{
    padding: 5% 0;
   }
   .read-more-btn{
    margin-top: 4%;
   }
   .news header{
    padding-top: 10px;
   }
   .cards{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
   }
   .card{
    padding: 10px 0;
    align-items:flex-start;
   }
    .content-card{
    padding-top: 0;
    margin-top: 0;
   }
}
